.path {
  stroke: #cacaca;
  pointer-events: auto;
  &:hover {
    stroke: rgb(0, 192, 255);
    stroke-dasharray: 10, 2;
    animation: pathHover 1s linear infinite;
  }
}


@keyframes pathHover {
  from {
    stroke-dashoffset: 24;
  }
  to {
    stroke-dashoffset: 0;
  }
}
