$border-color: #cacaca;
$min-dot-size: 14px;
$dot-background-color: #fff;
$dot-color-hover: rgb(0, 192, 255);
$font-size: 12px;

.port {
  font-size: $font-size;
  position: absolute;
  right: -8px;
  z-index: 10;
  border-radius: 50%;
  background-color: $dot-background-color;
  cursor: pointer;
  border: 1px solid $border-color;
  transition: background-color 0.1s;
  min-width: $min-dot-size;
  min-height: $min-dot-size;

  &:hover {
    background: rgb(0, 192, 255);
  }
}
